#outerbox {
  width: 300px;
  height: 300px;
  background: teal;
  padding: 50px;
  margin: auto auto;
  
}
#innerbox {
  width: 200px;
  height: 200px;
  border: 50px solid pink;
  background: salmon;
  margin: auto auto;
  
  content: auto auto;
}
